* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: 'Microsoft Yahei';
}
.float-fix::after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}
ul li, ol li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:visited {
    color: #888888
}